.joke {
  border: 1px solid #008080;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(252, 252, 252, 0.75);
}

.jokeContainer {
  width: 70%;
  display: inline-block;
  align-self: center;
  margin: 10% auto;

  p {
    // margin-left: 10px;
    // margin-right: 10px;
    margin: 0.75rem;
  }
}
