@import "/config";
@import "~bootstrap";

body {
  background: linear-gradient(to left, #59b18c 0%, #ff99cc 100%);
  font-family: Roboto;
  font-size: 2rem;
  text-align: center;
}

div {
  align-content: center;
  margin: auto;
}